<%= form_for @calender, :url=>@url do |f| %>
  <% if @calender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calender.errors.count, "error") %> prohibited this calender from being saved:</h2>

      <ul>
      <% @calender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :cal_date %>
  </div>
  <div class="field">
    <%= f.label :no_tiffin %><br>
    <%= f.text_field :cal_no_tiffin %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.check_box :time %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
