<p id="notice"><%= notice %></p>

<h1>Showing Calender</h1>

<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>no_tiffin</th>
      
      <th>rate</th>
      <th>time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calenders.each do |calender| %>
      <tr>
        <td><%= calender.id %></td>
        <td><%= calender.cal_date %></td>
        <td><%= calender.cal_no_tiffin %></td>
        <td><%= calender.rate %></td>
        <td><%= calender.time %></td>
        
        <td><%= link_to 'Show', member_calender_path(@member,calender) %></td>
        <td><%= link_to 'Edit', edit_member_calender_path(@member,calender) %></td>
        <td><%= link_to 'Destroy', member_calender_path(@member,calender), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New calender', new_member_calender_path(@member) %>
