<!DOCTYPE html>
<html>
<head>
  <title>Mess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <% if messowner_signed_in? %>
   <%= link_to "SignOut", destroy_messowner_session_path %>
 <% else %>
   <%= link_to "SignIn", new_messowner_session_path %>
   <%= link_to "SignUp", new_messowner_registration_path %>
 <% end %>

<%= yield %>

</body>
</html>
